
.footer-container{
    display: flex;
 }

.footer{
    color: var(--primary-white-color);
    background-color: var(--hero-background-color);
    letter-spacing: 0.03em;

    padding: 60px 0;

}

.footer .logo{
    color: var(--primary-white-color);

    display: inline-block;
    padding-top: 0;

} 


.address__mapa{
    color: var(--primary-white-color);
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

   
}

.address__link{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
}

.address__links{
    margin-top: 9px;
}

.address{
    padding: 0;
    margin: 0;
    list-style: none;

}

.contacts{
    padding-top: 20px;
}
